{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}
{% block content %}
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <h1 class="masthead-heading text-uppercase mb-0">Гланая страница сайта</h1>
<br>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">поиск вакансии на сайте HH.ru
                    <BR>
                Парсер умеет получать вакансиии с hh
                    <br>
                     И что то с ними делать
                    <br>
                     Можно задать различные параметры поиска
                </p>
            </div>
        </header>
{% endblock %}