{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}
{% block content %}
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <h1 class="masthead-heading text-uppercase mb-0">Добро пожаловать</h1>
<br>
                <!-- Masthead Subheading-->
                <h3>На сайт поиск вакансии с HH.ru</h3>
                <p class="masthead-subheading font-weight-light mb-0">
                    <BR>
                    Парсер умеет получать вакансиии с hh
                    <br>
                     Вы можете просматривать вакансии по разным критериям поиска
                    <br>
                     Комментировать вакансии, просматривать скилы, которые встречаются в вакансиях
                    <br>
                    просматривать вакансии по выбраному скилу
                </p>
            </div>
        </header>
{% endblock %}